.accordion {
  padding: 0;
  margin: 0;
}

.accordionPanel {
  border: 1px solid #6699cc;
  padding: 1rem;
}

.accordionButton {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  width: 100%;
  text-align: left;
  color: white;
  background-color: #6699cc;
}

.accordionButton:after {
  content: "\25BA";
  font-size: 1rem;
  float: right;
}

.accordionButtonActive:after {
  content: "\25BC";
}
