.hks {
  &_accordion {
    padding: 0;
    margin: 0;
  }

  &_accordionPanel {
    border: 1px solid #6699cc;
    padding: 1rem;
  }

  &_accordionButton {
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
    width: 100%;
    text-align: left;
    color: white;
    background-color: #6699cc;
  }

  &_accordionButton:after {
    content: "\25BA";
    font-size: 1rem;
    float: right;
  }

  &_accordionButtonActive:after {
    content: "\25BC";
  }
}
