$modal-overlay-bg: rgba(0, 0, 0, 0.4);

.hks_modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
  background: rgba(0, 0, 0, 0.4);

  &_modalContent {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    margin-top: 6rem;
    background-color: white;
  }

  &_modalHeader {
    background-color: #6699cc;
    padding: 0.2rem 1rem;
  }

  &_modalBody {
    padding: 0.5rem;
    min-height: 32px;
  }

  &_modalFooter {
    display: flex;
    padding: 1rem 0.5rem;
    justify-content: flex-end;
  }

  &_modalIconClose {
    color: white;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
  }
}
