.navigationRouter {
  border: 1px solid lightgray;
}

.navigationRouterList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationRouterListItem {
  margin-bottom: 1rem;
}

.navRouterLink {
  display: block;
}

.navRouterLink:link,
.navRouterLink:visited {
  color: inherit;
  text-decoration: none;
}

.navRouterLink:hover,
.navRouterLink:active {
  color: inherit;
  text-decoration: underline;
}
