.hks {
  &_navigationRouterList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_navigationRouterListItem {
    margin-bottom: 1rem;
  }

  &_navRouterLink a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  &_navRouterLink a:hover,
  a:active {
    color: inherit;
    text-decoration: underline;
  }
}
