body {
  font-family: $font-family;
  background: $primary-page-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

hr {
  margin-top: 1rem;
}
