hr {
  margin-top: 1rem;
}

.appMain,
.appHeader {
  margin-left: 11rem;
}

.appNav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-top: 5.5rem;
  min-height: 30rem;
  width: 10rem;
  padding-left: 1.2rem;
}
