.hks {
  &_appMain {
    margin-left: 11rem;
  }

  &_appHeader h1 {
    padding: 0.5rem;
    font-size: 1.5rem;
    background: $primary-bg;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  &_appNav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 5.5rem;
    min-height: 30rem;
    width: 10rem;
    padding-left: 1.2rem;
  }
}
