body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

body,
button {
  font-size: 1rem;
  color: #202124;
}

body {
  background-color: #fcfcfc;
}

button {
  border: none;
  outline: none;
}
