body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;
}

body,
button {
  font-size: 1rem;
  color: #202124;
}

button {
  border: none;
  outline: none;
}

hr {
  margin-top: 1rem;
}
