body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

body,
button {
  font-size: 1rem;
  color: #212529;
}

button {
  border: none;
  outline: none;
}

.App {
  max-width: 1140px;
  margin: auto;
}
