body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

body,
button {
  font-size: 1rem;
  color: #212529;
}

button {
  border: none;
  outline: none;
}

.appMain,
.appHeader {
  margin-left: 11rem;
}

.appNav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 5.5rem;
  min-height: 30rem;
  width: 10rem;
  padding-left: 1.2rem;
}
